{{define "replaceViewer"}}
<div id="replace-Viewer" class="replaceViewer">
    <canvas id="replaceViewer-canvas"></canvas>
    <div class="icdesigner__buttons">
        <button id="ic-confirmbutton" class="icdesigner__buttons__confirm" alt="Submit IC">
            Confirm
        </button>
        <button id="ic-cancelbutton" class="icdesigner__buttons__cancel" alt="Cancel IC">
            Cancel
        </button>
    </div>
</div>
{{end}}