{{define "tutorialpopup"}}
<div class="hover_bkgr_fricc" style="display: none;">
	<span class="helper"></span>
	<div>
		<div class="popupCloseButton">×</div>
		<div class="popupStep1"><br>STEP 1<br><br>click to continue</div>
		<div class="popupStep2"><br>STEP 2<br><br>click to continue</div>
		<div class="popupStep3"><br>STEP 3<br><br>click to continue</div>
	</div>
</div>
{{end}}